<div>
    <form id="search">
        <input id="searchtext" type="text" value="What are you looking for?">
        <img id="picsearch"  src="../picture/search.png" alt=""><br>
    </form>
    <img id="logoikea" src="../picture/Ikea_logo.svg.png" alt="">
</div>
<div id="icon">
    <a href="#"><img id="picicon1" src="../picture/truck.png" alt=""></a>
    <a href="#"><img id="picicon2" src="../picture/like.png" alt=""></a>
    <a href="#"><img id="picicon3" src="../picture/backet.jpg" alt=""></a>
</div>
<div id="Welcome">
    Welcome to IKEA UAE!
</div>