<div id="newproduct">
    New Products
</div>
<img id="picproduct1" src="./picture/newproduct0.avif" alt="">
<img id="picproducthover1" src="./picture/newproduct.avif" alt="">
<img id="picproduct2" src="./picture/newproduct11.avif" alt="">
<img id="picproducthover2" src="./picture/newproduct1.avif" alt="">
<img id="picproduct3" src="./picture/newproduct22.avif" alt="">
<img id="picproducthover3" src="./picture/newproduct2.avif" alt="">
<img id="picproduct4" src="./picture/newproduct33.avif" alt="">
<img id="picproducthover4" src="./picture/newproduct3.avif" alt="">
<div id="Topseller1">
    Top seller
</div>
<div id="Topseller2">
    Top seller
</div>
<div id="Topseller3">
    Top seller
</div>
<div id="Topseller4">
    Top seller
</div>
