<div id="img">
    <img id="img1" src="../picture/PE722835.avif" alt="">
    <a href="https://www.ikea.com/ae/en/p/graelviken-3-seat-sofa-bed-grey-70340567/">
        <div id="shopsofa">Shop sofa</div>
    </a>
    <a href="https://www.ikea.com/ae/en/p/angersby-2-seat-sofa-knisa-light-grey-10469186/">
        <img id="img2" src="../picture/flower.avif" alt="">
        <div id="flowerpricenew2">New lower price </div>
        <div id="flowerprice2">Dhs 40</div>
    </a>
    <div>
        <img  id="img23"  src="../picture/newlowerprice.jpg" alt="">
        </div>
    <a href="https://www.ikea.com/ae/en/p/angersby-2-seat-sofa-knisa-light-grey-10469186/">
        <img id="img3" src="../picture/flower1.webp" alt="">
        <div id="flowerpricenew">New lower price </div>
        <div id="flowerprice">Dhs 35</div>
    </a>
    <a href="https://www.ikea.com/ae/en/p/angersby-2-seat-sofa-knisa-light-grey-10469186/">
        <img id="img4" src="../picture/sofa.avif" alt="">
        <img id="sale" src="../picture/sale.jfif" alt="">
    </a>
    <img id="img5" src="../picture/PE774257.avif" alt="">
    <a href="https://www.ikea.com/ae/en/p/lindbyn-mirror-black-90439218/">
        <div id="shopaccessories">Shop Accessories</div>
    </a>
</div>