<div id="menu">
    <nav>
        <ul>
            <li> <a class="menu1" routerLink="/products">Products</a>
                <ul>
                    <li><a class="submenu">Everyday low price</a></li>
                    <li><a class="submenu">Bed & mattresses</a></li>
                    <li><a class="submenu">Home textiles</a></li>
                    <li><a class="submenu">Storage & Organisation</a></li>
                    <li><a class="submenu">Baby & Children</a></li>
                    <li><a class="submenu">Decoration</a></li>
                </ul>
            </li>
            <li> <a class="menu1" routerLink="/offers">Offers</a>
                <ul>
                    <li><a class="submenu">See all in offers</a></li>
                    <li><a class="submenu">New lower price</a></li>
                    <li><a class="submenu">IKEA Family offer</a></li>
                </ul>
            </li>
            <li> <a class="menu1"routerLink="/rooms">Rooms</a>
                <ul>
                    <li><a class="submenu">Bedroom</a></li>
                    <li><a class="submenu">Living room</a></li>
                    <li><a class="submenu">Dining</a></li>
                    <li><a class="submenu">Kitchen</a></li>
                    <li><a class="submenu">outdoor</a></li>
                    <li><a class="submenu">Bathroom</a></li>
                    <li><a class="submenu">children room</a></li>
                    <li><a class="submenu">Study room</a></li>
                </ul>
            </li>
            <li> <a class="menu1" routerLink="/ikeafamily">IKEA Family</a>
                <ul>
                    <li><a class="submenu">See all in offers</a></li>
                    <li><a class="submenu">New lower price</a></li>
                    <li><a class="submenu">IKEA Family offer</a></li>
                </ul>
            </li>
            <li> <a class="menu1" routerLink="/customerservice">Customer Service</a>
                <ul>
                    <li><a class="submenu">Services</a></li>
                    <li><a class="submenu">Digital gift card</a></li>
                    <li><a class="submenu">IKEA shopping APP</a></li>
                    <li><a class="submenu">Contact us</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
