<div id="lowprice">
    
    Shop Everyday low price by category
</div>
<img class="lowprice1" src="./picture/lowprice1.avif" alt="">
<img class="lowprice1" src="./picture/lowprice2.avif" alt="">
<img class="lowprice1" src="./picture/lowprice3.avif" alt="">
<img id="arrow1" src="./picture/arrow1.webp" alt="">
<img id="arrow2" src="./picture/arrow1.webp" alt="">
<img id="arrow3" src="./picture/arrow1.webp" alt="">
<div id="transition">
    Shop our top families at New lower prices
</div>
<div id="transition1">
    Shop our top families at New lower prices
</div>
<div id="transition2">
    Shop our top families at New lower prices
</div>
<div id="lowprice2">
    New Lower price
</div>
<div id="lowprice3">
    New Lower price
</div>
<div id="lowprice4">
    New Lower price
</div>
<div id="sofa1">
    sofa
</div>
<div id="table1">
    Table & chair
</div>
<div id="bed1">
    Beds & mattresses
</div>

